body {
  margin: 0;
  background-color: #1A2027;
}

#root{

  display: grid;
  grid-template-columns: 10% 5% 10% 25% 25% 25%;
  /* grid-template-rows: 10% 5% 5% 5% 25% 25% 25%; */
  grid-column: 1/8;
  grid-row: 1/8;
  grid-template-rows: auto;
  margin: 0;
  
}